<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.UzoefuApp"
        tools:targetApi="31">
        <activity
            android:name=".businessActivities.ActivityDecriptionActivity"
            android:exported="false" />
        <activity
            android:name=".businessActivities.ActivityDetail"
            android:exported="false" />
        <activity
            android:name=".businessActivities.AddActivityActivity"
            android:exported="false" />
        <activity
            android:name=".businessAccount.BusinessAccountActivity"
            android:exported="false" />
        <activity
            android:name=".businessActivities.FinishSetUpActivity"
            android:exported="false" />
        <activity
            android:name=".businessActivities.PaymentDetailActivity"
            android:exported="false" />
        <activity
            android:name=".businessActivities.OperatingHoursActivity"
            android:exported="false" />
        <activity
            android:name=".businessActivities.ContactActivity"
            android:exported="false" />
        <activity
            android:name=".businessActivities.CompanyDetailActivity"
            android:exported="false" />
        <activity
            android:name=".businessActivities.BusinessProfileActivity"
            android:exported="false" />
        <activity
            android:name=".globalSettings.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".bookingActivities.BookingDetailStep1Activity"
            android:exported="false"
            android:label="@string/title_activity_booking_detail_step1" />
        <activity
            android:name=".bookingActivities.BookingDetailActivity"
            android:exported="false" />
        <activity
            android:name=".bookingActivities.BookSummaryActivity"
            android:exported="false" />
        <activity
            android:name=".companyActivities.BookingProductActivity"
            android:exported="false" />
        <activity
            android:name=".companyActivities.CompanyLandingActivity"
            android:exported="false" />
        <activity
            android:name=".bookingActivities.BookListActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SelectDestinationActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ExploreCategoriesActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ExploreActivity"
            android:exported="false" />
        <activity
            android:name=".dashboard.DashboardActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.CreateBusinessAccountActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CreateAccountActivity"
            android:exported="false" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".onboardScreen.OnboardActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Google Maps API Key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCPmAAbKW3OvAqDoEXdetwiP6X0TF7CJL4" />
    </application>

</manifest>